<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNg Suite" parallel="methods" thread-count="3">
    <test name="Test 1">
        <classes>
            <class name="lesson2.SimpleTestParallel"></class>

        </classes>
    </test>
    <test name="Regression">
        <classes>
            <class name="HomeWork2.HomeWork2"></class>

        </classes>
    </test>
</suite>
